/*Axi line*/
.axis path {
  stroke: white;
}

/*Small ticks on axis*/
.axis line {
  stroke: white;
}

/*Bar graph color*/
.bar {
  fill: orangered;
}

/*Pie text*/
.arc text {
  font: 16px sans-serif;
  text-anchor: middle;
}

/*Text color for line graphs*/
.axis text {
   fill: white;
}

/*Line graph line*/
.line {
  fill: none;
  stroke: orangered;
  stroke-width: 3px;
}

/*Title of the line graphs*/
.graph-title {
  font-size: 24px;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  fill :  #00BDE8;
}

/*The label of each slice of pie*/
.pieLabel {
    fill: white;
}
