/*Axi line*/
.axis path {
  stroke: white;
}

/*Small ticks on axis*/
.axis line {
  stroke: white;
}

.yAxis line{
  stroke: white;
}

.yAxis, .yAxis{
  fill: white;
  shape-rendering:crispEdges;
}

.xAxis, .xAxis {
  fill: white;
  shape-rendering:crispEdges;
}

.xAxis line, .xAxis path,.yAxis line, .yAxis path {
  fill: none;
  stroke: white;
}

/*Bar graph color*/
.bar {
  fill: #2978A0;
}

/*Pie text*/
.arc text {
  font: 16px sans-serif;
  text-anchor: middle;
}

/*Text color for line graphs*/
.axis text {
   fill: black;
}

/*Line graph line*/
.line {
  fill: none;
  stroke: #2978A0;
  stroke-width: 3px;
}

/*Title of the line graphs*/
.graph-title {
  font-size: 24px;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  fill :  #00BDE8;
}

/*The label of each slice of pie*/
.pieLabel {
    fill: white;
}

.text {
  shape-rendering: crispEdges;
}

.unit-text {
  fill : #6987C9;
}